@page
@model MyMobileList.Pages_Mobiles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mobilephones</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Network)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Network)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Displaysize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Displaysize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Users)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephones.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilephones.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mobilephones.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
